.containers {
    border: 2px solid #d3d3d3;
    padding: 20px 30px 20px 30px;
    margin-top: 5px;
}

#buttons-container {
    border-radius: 5px;
    width: 18vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
}
#button-edit {
    background-color: #04BF8A;
    color: white;
}

#button-co {
    background-color: #04BF8A;
    color: white;
}

#button-order {
    background-color: #04BF8A;
    color: white;
}

#button-save {
    background-color: #04BF8A;
    color: white;
    width: 20%;
}

#logout-button {
    background-color: red;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
}

/* ACCOUNT DETAILS */
.main-container {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-evenly;
}

#account-container {
    border-radius: 20px;
    background-color: white;
    height: 80vh;
    width: 56vw;
}


#update-reminder {
    margin-bottom: 20px;
}
.container-form {
    display: flex;
    justify-content: space-evenly;
}

.username-email {
    flex-grow: 1;
}

.biodata {
    border:1px solid #d3d3d3;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    flex-grow: 2;
    max-width: 30vw;
}

.email-text {
    font-size: 14px;
    margin-top: 15px;
}

.verif-status {
    font-size: 12px;
    color: #04BF8A;
    margin-left: 15px;
}

.container-email{
    display: flex;
    /* justify-content: space-between; */
    width: 22vw;
}
#button-resend {
    font-size: 12px;
    color: #04BF8A;
    background-color: white;
    font-weight: bold;
    margin-top: -3px;
    width: 30%;
}

#reminder-add {
    margin-bottom: 10px;
}

.biodata-text{
    margin-top: 10px;
    font-size: 15px;
}

#phone{
    margin-bottom: 10px;
}

#modal-form {
    position: fixed;
    top: 15%;
    left: 26%;
}

#modal-body {
    margin-top: 0px;
}

#button-cancel {
    width: 20%;
}